* {
	margin: 0;
	padding: 0;
}

a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

/* Layout */

/* Layout is now a table. */

/* Forms */

form th {
	text-align: right;
	font-variant: bold;
	white-space: nowrap;
}
